.about-me {
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  margin: 20px;
}

.card {
  background-color: palevioletred;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color: #000;
}

.about-me-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-pic {
  width: 400px;
  height: 550px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-me-content {
  flex: 1;
  text-align: left;
}
.about-me-content h2 {
  margin-bottom: 70px; /* Adjusts space between h2 and p */
  text-align: center;
  font-size: 42px;
}
/* .about-me-content a{
  text-align: center;
} */

.gradient-text {
  background: linear-gradient(135deg, #f3f365 20%, #FEE032 77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.social-icons {
  margin-top: 70px;
  text-align: center;
}

.social-icons a {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 10px;
  color: #000;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover i {
  color: transparent;
  background: linear-gradient(135deg, #FBD963 20%, #FBD963 77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .about-me-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-pic {
    width: 150px;
    height: 180px;
  }

  .social-icons a {
    font-size: 1.2rem;
    margin: 5px;
  }
}
